# OpenAI
OPENAI_API_KEY=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=

# Crisp
CRISP_WEBSITE_ID=
CRISP_IDENTIFIER=
CRISP_KEY=

# N8N
N8N_HOST=
N8N_PORT=
N8N_ENCRYPTION_KEY=

# Webhooks
WEBHOOK_BASE_URL=